/* Grid.css */
.grid-container {
    display: grid;
    gap: 10px; /* Adjust gap between grid items */
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); /* Adjust column sizes */
    grid-template-rows: auto; /* Adjust row sizes */
    grid-template-areas: inherit; /* Use inline style for dynamic areas */
  }
  
  .grid-item {
    background-color: lightgray;
    padding: 20px;
    text-align: center;
  }
  /* .fui-Input__input.r12stul0{
    background-color: aqua!important;
     border: none!important;
     border-radius: 0!important;
  } */
   /* .ms-Dialog-main .main-108{
      width: 900px!important;
   } */
   
   @media (min-width: 480px) {
    .main-108 {
        width: auto;
        min-width: 340px!important;
        max-width: 900px!important;
    }
}