/* Grid.css */
.grid-container {
    display: grid;
    gap: 10px; 
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); 
    grid-template-rows: auto; 
    grid-template-areas: inherit; 
  }
  
  .grid-item {
    background-color: lightgray;
    padding: 20px;
    text-align: center;
  }
  /* .fui-Input__input.r12stul0{
    background-color: aqua!important;
     border: none!important;
     border-radius: 0!important;
  } */
   /* .ms-Dialog-main .main-108{
      width: 900px!important;
   } */
   
/* Popover.css */
.popover-container {
  position: relative;
  display: inline-block;

}

.popover-trigger {
  cursor: pointer;
}

.popover-content {
  position: absolute;
  top: 100%; /* Position the popover below the trigger */
  left: 50%;
  transform: translateX(-50%);
  /* background-color: #fff; */
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 10;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  
}

/* Arrow styling */
.popover-content::before {
  content: '';
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 0 10px 10px 10px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
}
.lookup-content {
  position: absolute;
  top: 100%; /* Position the popover below the trigger */
  left: 0%;
  transform: translateX(-50%);

  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 100;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  width: 500px;
  border: 1px solid black;
  height: 200px;
  overflow-y: scroll;
}
.lookup-content::before {
  content: '';
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 0 10px 10px 10px;
  border-style: solid;
}
@media only screen and (max-width: 768px) {
  .lookup-content {
    width: 100%;
    right: 100%;
    transform: translateX(0%);
  }
}

@media only screen and (max-width: 480px) {
  .lookup-content {
    width: 100%;
    right: 100%;
    transform: translateX(0%);
  }
}
@media only screen and (max-width: 900px) {
  .lookup-content {
    width: 300px;
    right: 100%;
    transform: translateX(-30%);
  }
}
.detail-body{
  /* border: 1px solid black; */
  height: 35px!important;
}
.select-icon:hover{
  color: blue;
}
/* .f1exfvgq {
  min-width: 0px!important;
} */